#main{
    margin: auto;
    margin-top: 200px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.button{
    width: 330px;
    margin-bottom: 10px;
    background-color: #f9c2fb;
    border-radius: 10px;
    box-shadow: rgb(168, 11, 147) 0 -25px 18px -14px inset,rgb(255, 196, 255) 0 1px 2px,rgb(255, 196, 255) 0 2px 4px,rgb(255, 196, 255) 0 4px 8px,rgb(255, 196, 255) 0 8px 16px,rgb(255, 196, 255) 0 16px 32px;
    color: rgb(128, 0, 111);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    box-shadow: rgb(192, 86, 178) 0 -25px 18px -14px inset,rgb(248, 206, 248) 0 1px 2px,rgb(248, 206, 248) 0 2px 4px,rgb(248, 206, 248) 0 4px 8px,rgb(248, 206, 248) 0 8px 16px,rgb(248, 206, 248) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.alarmes{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin-left: 40%;
    margin-right: 40%;
}

#divRelogio{
    width: 1000px;
    font-size: 80px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background-color: rgb(255, 196, 255);
    border: 3px solid rgb(128, 0, 111);
    border-radius: 5px;
}

#divAlarme{
    margin: auto;
}

.selectAlarme{
    margin-top: 10px;
    margin-right: 5px;
    width: 70px;
    height: 50px;
    font-size: 40px;
    border-radius: 5px;
}

p{
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-style: groove;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  margin-left: 40%;
  margin-right: 40%;
}

/* Botão definir alarme  */
.alarmButtonDefine {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  align-items: center;
  background-color: rgb(248, 206, 248);
  border: 2px solid rgb(128, 0, 111);
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(128, 0, 111);
  cursor: pointer;
  
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.alarmButtonDefine:after {
  background-color: rgb(128, 0, 111);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.alarmButtonDefine:hover:after {
  transform: translate(0, 0);
}

.alarmButtonDefine:active {
  background-color: rgb(248, 206, 248);
  outline: 0;
}

.alarmButtonDefine:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .alarmButtonDefine {
    padding: 0 40px;
  }
}

/* fim botão definir alarme */

